.bgimg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 1600px;
    top: 0;
    border: none;
    border-radius: 0;
    opacity: 0.6;
    left: 0;
    right: 0;
}

.bgimg-wapper {
    font-size: 0;
}

html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 900px;
    min-width: 800px;
}

.github-links {
    margin-right: 30px;
    margin-left: auto;
    padding: 10px;
    margin-top: 90px;
}

.github-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #25262c;
    font-weight: bold;
    margin-bottom: 10px;
    transition: color 0.3s ease-in-out;

}

.github-links a:hover {
    color: #3365d0;
}


.github-links img {
    margin-right: 10px;
}

.title {
    margin-top: 64px;
    font-weight: bold;
    font-size: 48px;
    color: #343f52;
    text-align: center;
    margin-bottom: 32px;
}

.button {
    text-align: center;
}

.button a {
    display: inline-block;
    color: #fff;
    background-color: #3f78e0;
    padding: 13px 28px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 26px;
    text-decoration: none;
    margin: 0 5px;
    border: 2px solid #3f78e0;
    transition: all 0.3s ease-in-out;
}

.button a:hover {
    transform: translateY(-4px);
}

#imgplayer {
    margin-top: 48px;
    text-align: center;
    padding-bottom: 64px;
}

.player {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

img {
    border-radius: 32px;
    border: 2px solid black;
}


/* 轮播图容器 */
.carousel {
    position: relative;
    width: 783px;
    left: 60px;
    top: -10px;
    overflow: hidden;
}

.carousel-images {
    width: 9999px;
    text-align: left;
    transition: transform 0.5s ease-in-out;
    font-size: 0px;
}

.carousel-images img {
    width: 780px;
    height: 500px;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
}

.carousel-controls button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
}

.carousel-controls button.prev {
    margin-right: 300px;
}

.carousel-controls button.next {
    margin-left: 300px;
}

.carousel-controls button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#typewriter {
    color: #29292a;
    text-shadow: 2px 2px 4px rgba(101, 97, 97, 0.8);
}
#typewriter2 {
    color: #25262c;
}
